@import "home";
@import "footer";
@import "login";
@import "artwork";
@import "noMatch";

body {
  color: #0e0906;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  header {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0px 15px;
    max-width: 1200px;
    margin: 0 auto;
    .logo {
      width: 45%;
    }
    .home {
      z-index: 10;
      color: #0e0906;
      text-decoration: none;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .layoutsWrapper {
    nav {
      z-index: 10;
      .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        background-color: #ffffff;
        left: 0;
        top: -15px;
        transition: all 0.5s ease-out;
        width: 100%;
        height: 100vh;
        padding: 0px;
        z-index: 10;
        li {
          margin-top: 40px;
          color: #0e0906;
          a {
            text-decoration: none;
            text-align: center;
            padding: 0px;
            width: 100%;
            color: #0e0906;
            margin: 0px;
            cursor: pointer;
            font-size: 30px;
            transition: all 0.5s ease-out;
            margin-top: 50px;
          }
        }
        li:first-child {
          margin-top: 130px;
        }
      }
      .mobile-menu-icon {
        display: block;
        font-size: 35px;
        position: absolute;
        top: 15px;
        right: 25px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        color: #0e0906;
        z-index: 10;
      }
      .nav-links {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    .layoutsWrapper {
      .nav-div {
        position: absolute;
        right: 0;
        .shopping-bag {
          width: 25px;
          padding-top: 20px;
        }
        nav {
          .nav-links {
            display: flex;
            list-style-type: none;
            gap: 15px;
            margin: 0px 15px;
            li {
              .nav-link {
                display: inline-block;
                position: relative;
                color: #0e0906;
                font-weight: normal;
                text-transform: uppercase;
                padding: 5px;
              }

              .nav-link:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
button.mobile-menu-icon {
  display: none;
}
